{{define "_head.html" -}}
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-language" content="en-us">
  <meta charset="utf-8">
  <title>ROAW</title>
  <link href="/assets/css/application.636970cff78c2e754bf4.css" media="screen" rel="stylesheet" />
  <link rel="icon" href="/assets/images/favicon.ico">
  <meta comment="Icons made by https://www.flaticon.com/authors/freepik from https://www.flaticon.com/">

  <!-- Bootstrap + JQuery -->
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <script src="/assets/js/jquery.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->
  <script src="/assets/js/bootstrap.min.js"></script>
  <!-- Chart.js -->
  <script src="/assets/js/Chart.min.js"></script>

  <meta property="og:site_name" content="Run Once a Week">
  <meta property="og:title" content="ROAW - Run Once a Week" />
  <meta property="og:url" content="https://roaw.carreira.pw" />
  <meta property="og:description" content="Dashboard for Run Once a Week Challenge" />
  <meta property="og:image" itemprop="image" content="https://roaw.carreira.pw/assets/images/run.png">
  <meta property="og:image:secure_url" itemprop="image" content="https://roaw.carreira.pw/assets/images/run.png">
  <meta property="og:type" content="website" />
  <meta property="og:updated_time" content="1592074204" />
</head>
{{- end }}
