<!doctype html><html>
<head><title>Roaw</title><meta http-equiv=refresh content="10; url={{.scheme}}://{{.host}}"></head>
<body>
  Redirecting to <a href="{{.scheme}}://{{.host}}">{{.scheme}}://{{.host}}</a>.
</body>
</html>
